<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
    <body>
        <div>
            <form action="">

                <h2>Inscrivez-vous via notre formulaire</h2>

                <div>
                    <label for="lastname">Nom d'utilisateur</label>
                    <input type="text" name="lastname" id="lastname">
                </div>

                <div>
                    <label for="firstname">Prénom d'utilisateur</label>
                    <input type="text" name="firstname" id="firstname">
                </div>

                <div>
                    <label for="mail">E-mail</label>
                    <input type="email" name="mail" id="mail">
                </div>

                <div>
                    <label for="mdp">Mot de passe</label>
                    <input type="password" name="mdp" id="mdp">
                </div>
                
            </form>

            <hr>

            <h2>Ou inscrivez-vous via :</h2>

            <div>
                <img src="" alt="logo facebook">
                <img src="" alt="logo google">
            </div>

            <div>
                <div>
                    <button>   
                        Inscription
                    </button>
                </div>
            </div>
        </div>
        
    </body>
</html>