<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
    <body>
        <div class="header">
            <a href="">Accueil</a>
            <a href="">Déconnexion</a>
        </div>
        <div class="content">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h2>
                    E-mail:
                </h2>
                <h2>
                    Nom d'utilisateur:
                </h2>
            </div>
        </div>
    </body>
</html>