<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    
    <link rel="stylesheet" href="../public/css/style.css">
</head>
    <body>
        <div class="main-box-signin">
            <div class="style-form">
                <form action="">
                    
                    <div class="head-content-form">
                        <a href="/user">
                            <img src="../public/ico/fleche.png" alt="back" class="arrow-back">
                        </a>

                        <h2>Inscrivez-vous via notre formulaire</h2>
                    </div>

                    <div class="box-input">
                        <label for="lastname">Nom</label>
                        <input type="text" name="lastname" id="lastname" class="style-input">
                    </div>

                    <div class="box-input">
                        <label for="firstname">Prénom</label>
                        <input type="text" name="firstname" id="firstname" class="style-input">
                    </div>

                    <div class="box-input">
                        <label for="mail">E-mail</label>
                        <input type="email" name="mail" id="mail" class="style-input">
                    </div>

                    <div class="box-input">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" name="mdp" id="mdp" class="style-input">
                    </div>
                    
                </form>

                <hr class="line">

                <h2>Ou inscrivez-vous via :</h2>

                <div class="social">
                    <img src="../public/ico/facebook.png" alt="logo facebook">
                    <img src="../public/ico/google.png" alt="logo google">
                </div>
   
                <div class="box-button">
                    <button>   
                        <a href="/user">Inscription</a>
                    </button>
                </div>
                
            </div>
        </div>
    </body>
</html>