<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connexion</title>
        
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>
    <body>
        <div class="main-box-signup">
            <div class="style-form">
                <form action="">

                    <h2>Connexion via notre formulaire.</h2>

                    <div class="box-input">
                        <label for="mail">E-mail</label>
                        <input type="email" name="mail" id="mail" class="style-input">
                    </div>

                    <div class="box-input">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" name="mdp" id="mdp" class="style-input">
                        <a href="">Mot de passe oublié ?</a>
                    </div>

                </form>

                <hr>

                <h2>Ou connectez-vous via :</h2>

                <div class="social">
                    <img src="../public/ico/facebook.png" alt="logo facebook">
                    <img src="../public/ico/google.png" alt="logo google">
                </div>

                <div class="box-button">
                    <button>   
                        <p>Inscription</p>
                        <!-- <%-include("../views/form_inscription.ejs");%>  -->
                    </button>
               
                    <button>
                        <p>Connexion</p>
                        <!-- <%-include("./profil.ejs");%>  -->
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>