<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
    <body>
        <div class="header-profil">
            <a href="/user" class="home">Accueil</a>
            <a href="/user" class="disconnect">Déconnexion</a>
        </div>
        <div class="container-profil">
            <div class="profil-content">
                <div class="profil-pic">
                    <img src="" alt="">
                </div>
                <button>
                    <a href="">Modifier mon profil</a>
                </button>
            </div>
            <div class="profil-result">
                <h2>
                    E-mail: 
                </h2>
                <h2>
                    Nom d'utilisateur:
                </h2>
            </div>
        </div>
    </body>
</html>